* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, o.5);
}

header p {
    font-size: 16px;
    color: #cccccc;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.universo {
    margin-bottom: 40px;
}

.universo h2 {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.marvel {
    background-color: #e62429
}

.dc {
    background-color: #002244;
}

.starwars {
    background-color: #feda4a;
    color: #1a1a1a !important;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5pc rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    cursor: pointer;
}

.card-conteudo {
    padding: 15px;
    text-align: center;
}

.card-conteudo h3 {
    margin-bottom: 10px;
}

.card-conteudo p {
    font-size: 14px;
    color: #666666;
    font-style: italic;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

@media (max-width: 768px) {
   .card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
}